/* 
   TABLE OF CONTENTS
   
   1.0 - Globals
   2.0 - Header
   3.0 - Body
      3.1 - About Me Section
      3.2 - Portfolio Section
      3.3 - Contact Info Section
   4.0 - Footer
   5.0 - Media Queries
      5.1 - Medium Screens
      5.2 - Large Screens
*/

/*** 1.0 - Globals ***/
:root {
  --light: #bbbdf6;
  --dark: #625f63;
  --secondLight: #625f63;
  --middle: #797a9e;
  --secondDark: #72727e;
}

* {
  background-color: var(--light);
  color: var(--purple);
  font-family: "Segoe UI", "Frutiger", "Dejavu Sans", "Helvetica Neue", Arial,
    sans-serif;
  background-color: var(--dark);
  font-family: sans-serif;
  font-size: 1.75rem;
  line-height: 1.5;
}

html {
  /* set 1rem to 10px instead of native 16px to make it easier to calculate font-size values for the rest of the page (e.g. 1.6rem is 16px, 2.0rem is 20px, etc.) */
  font-size: 62.5%;
  /* when you click the navigation links this will scroll to the parts of the page slowly */
  scroll-behavior: smooth;
}

h1 {
  margin: 2.5rem 0 0 2rem;
  font-size: 4rem;
  color: var(--dark);
  background-color: var(--light);
}

h2 {
  font-size: 3rem;
  margin: 2rem 2rem 0 2rem;
  color: var(--light);
}

h3 {
  font-size: 2rem;
  color: var(--light);
}

p {
  /* margin: 2rem; */
  font-size: 1.5rem;
  color: var(--light);
}

/*** 2.0 - Header ***/
header {
  background-color: var(--light);
}

header h1 {
  margin: 0 0 0 0;
  display: flex;
  justify-content: center;
}

header .nav-bar {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  background-color: var(--light);
}

.nav-link {
  display: flex;
  flex-wrap: nowrap;
}

.nav-link a {
  font-size: 2.5rem;
  text-decoration: underline;
  color: var(--dark);
  background-color: var(--light);
}

/*** 3.1 - About Me ***/
.about-me-content {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  margin: 2rem;
}

.about-me-content img {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  outline: none;
  border-color: var(--light);
  box-shadow: 0 0 1.5rem var(--light);
  border-radius: 50%;
}

.about-me-content p {
  display: flex;
  max-width: 100%;
  text-align: left;
  font-size: 2rem;
  justify-content: space-around;
  align-items: center;
  margin: 2rem 0 0 0;
}

.about-me h2,
.portfolio h2,
.contact-info h2 {
  text-align: left;
  border-bottom: solid;
}

/*** 3.2 - Portfolio ***/
.portfolio .portfolio-content {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  /* align-items: center; */
}

.project,
.first-project {
  display: flex;
  min-height: 100%;
  flex-direction: column;
  justify-content: flex-start;
  /* max-width: fit-content; */
  align-self: center;
  padding: 2rem 2rem 0 2rem;
}

.project img,
.first-project img {
  width: 100%;
  height: auto;
  border: solid var(--light);
}

.project-text h3 {
  background-color: var(--secondDark);
  border-top-right-radius: 1rem;
}

.project-text p {
  background-color: var(--secondDark);
  border-bottom-right-radius: 1rem;
}

.project-text {
  position: relative;
  display: inline-block;
  top: -10rem;
  padding: 0 0.5rem;
  border-radius: 0 1rem 1rem 0;
  max-width: max-content;
  border: solid var(--light);
  background-color: var(--secondDark);
  margin-bottom: -5.85rem;
}

.project img:hover,
.project p:hover,
.project a:hover {
  color: yellow;
}

/*** 3.3 - Contact Info ***/
.contact-text {
  padding: 2rem 0 2rem 2rem;
}

/*** 4.0 - Footer ***/
footer {
  text-align: center;
  font-style: oblique;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

/*** 5.1 - Medium Screens ***/
@media screen and (min-width: 768px) {
  header h1 {
    display: flex;
    justify-content: center;
  }

  header .nav-bar {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }

  .nav-link {
    margin: 0 1.5rem 1rem 0;
  }

  .about-me img {
    width: 50%;
  }

  .about-me-content p {
    max-width: 50%;
    margin: 2rem;
  }

  .about-me-content {
    flex-wrap: nowrap;
  }

  .first-project {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .project {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

/*** 5.2 - Large Screens ***/
@media screen and (min-width: 992px) {
  header {
    width: 100%;
  }

  header h1 {
    text-align: left;
    display: inline-block;
    margin-left: 2rem;
  }

  header .nav-bar {
    float: right;
  }

  .nav-link {
    margin: 2rem 2rem 0rem 0;
  }

  .about-me img {
    width: 25%;
  }

  .about-me-content p {
    max-width: 75%;
    margin: 2rem;
  }

  .about-me-content {
    flex-wrap: nowrap;
  }

  .project {
    flex: 0 0 30%;
    max-width: 30%;
  }
}
