* {
  background-color: aqua;
  font-family: sans-serif;
}

.about-me img {
  width: 20%;
  height: auto;
  border-radius: 50%;
  box-shadow: 5px 5px 5px darkblue;
}

.resume iframe {
  width: 50%;
  height: 400px;
}
